<script src="scripts/controller/contactController.js"></script>
<div ng-controller="contactController">
    <div class="text-center">
        <h1>Contactos</h1>
        <p>{{ message }}</p>
    </div>
    <div class="list">
        <div class="item item-button-right" ng-repeat="c in contacts">
            {{c.displayName}}
            <button class="button button-positive" ng-click="callContact()">
                <i class="icon ion-ios-telephone"></i>
            </button>
        </div>
    </div>
</div>