<!--<script src="scripts/controller/contactController.js"></script>-->
<div ng-controller="contactController">
    <div class="text-center">
        <h1>Contactos</h1>
        <p>{{ message }}</p>
    </div>
    <div class="list">
        <div ng-show="c.phoneNumbers.length" class="item item-button-right" ng-repeat="c in contacts">
            <h2>{{c.displayName}}</h2>
            <p ng-repeat="p in c.phoneNumbers" >
                <a href="tel:{{p.value}}">{{p.value}}</a>
            </p>
            <button class="button button-positive" ng-click="callContact(c)">
                <i class="icon ion-ios-telephone"></i>
            </button>
        </div>
    </div>
</div>