<div class="list">
    <label class="item item-input item-floating-label">
        <span class="input-label">x</span>
        <input type="text" ng-model="Acceleration.x" disabled="disabled" placeholder="x">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">y</span>
        <input type="text" ng-model="Acceleration.y" disabled="disabled" placeholder="y">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">z</span>
        <input type="text" ng-model="Acceleration.z" disabled="disabled" placeholder="z">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">timestamp</span>
        <input type="text" ng-model="Acceleration.timestamp" disabled="disabled" placeholder="timestamp">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">magneticHeading</span>
        <input type="text" ng-model="Compass.magneticHeading" disabled="disabled" placeholder="magneticHeading">
    </label>
</div>